/* src/App.css */
.app-container {
  display: flex;
}

.main-content-area {
  margin-left: 250px; /* Misma anchura que el sidebar para compensar */
  flex-grow: 1; /* Ocupa el espacio restante */
  padding: 30px; /* Padding general para el contenido */
  box-sizing: border-box; /* Incluye padding en el ancho/alto */
}

.dashboard-content {
  padding: 0; /* Ya tenemos padding en main-content-area */
}